@import url("fonts.css");

*
{
	margin: 0px;
}

html
{
	color: #333;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, calibri, sans-serif;
	
	background-color: #FCFEFD;
	background-image: url("greyzz.png");
}

body
{
	margin: auto;
	padding: 1em;
	max-width: 784px;
}

h1
{
	font-size: 8rem;
	line-height: 1em;
	font-family: forque;
	font-weight: normal;
	letter-spacing: 0.5rem;
}

div
{
	margin: 1rem auto;
	position: relative;
}

/* Session Buttons */

#sessions
{
	width: 100%;
	display: table;
	table-layout: fixed;
}

#sessions > button
{
	width: 33.33%;
	display: table-cell;
	padding: 0.5rem 1rem;
	
	border: none;
	
	font: inherit;
	color: #FCFEFD;
}

#sessions > button:first-of-type
{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#sessions > button:last-of-type
{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#sessions > button:focus {outline: none;}
#sessions > button:hover {cursor: pointer;}
#sessions > button > span {white-space: nowrap;}

#sessions > button:nth-child(1) {background-color: #E96D63;}
#sessions > button:nth-child(2)  {background-color: #7FCA9F;}
#sessions > button:nth-child(3)  {background-color: #F4BA70;}

#sessions > button:nth-child(1):hover  {background-color: #F4928B;}
#sessions > button:nth-child(2):hover  {background-color: #A5E4C1;}
#sessions > button:nth-child(3):hover  {background-color: #FACD94;}

@media(max-width: 42rem)
{
	#sessions > button > span
	{
		display: block;
	}
}

@media(max-width: 28rem)
{
	#sessions > button
	{
		width: 100%;
		display: block;
	}
	
	#sessions > button:first-of-type
	{
		border-top-right-radius: 6px;
		border-bottom-left-radius: 0px;
	}
	
	#sessions > button:last-of-type
	{
		border-top-right-radius: 0px;
		border-bottom-left-radius: 6px;
	}
	
	#sessions > button > span
	{
		display: inline;
	}
}

/* Countdown Bar */

#countdown > time
{
	font-size: 6rem;
	font-family: forque;
	
	top: 0px;
	left: 0px;
	right: 0px;
	line-height: 1em;
	position: absolute;
}

#countdown > meter
{
	width: 100%;
	margin: auto;
	height: 6rem;
	display: block;
	
	overflow: hidden;
	border-radius: 6px;
}