*
{
    margin: 0px;
}

html
{
    color: #333;
    font-size: 18px;
    font-family: open-sans, calibri, sans-serif;
    
    background-color: #FCFEFD;
    background-image: url("./images/greyzz.png");
}

body
{
    margin: auto;
    padding: 1rem;
    max-width: 784px;
}

/* The Fonts */

@font-face
{
	font-family: forque;
    font-style: normal; font-weight: normal;
	src: url("./fonts/forque.ttf") format("truetype");
}

@font-face
{
	font-family: open-sans;
    font-style: normal; font-weight: normal;
	src: url("./fonts/open-sans.ttf") format("truetype");
}

/* The Header */

header > h1
{
    line-height: 1rem;
}

header > h1 > img
{
    width: 100%;
}

/* Session Buttons */

#sessions
{
    width: 100%;
    display: table;
    margin: 1rem auto;
    table-layout: fixed;
}

#sessions > button
{
    width: 33.33%;
    display: table-cell;
    padding: 0.5rem 1rem;
    
    border: none;
    
    font: inherit;
    color: #FCFEFD;
}

#sessions > button:first-of-type
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#sessions > button:last-of-type
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#sessions > button:focus {outline: none;}
#sessions > button:hover {cursor: pointer;}
#sessions > button > span {white-space: nowrap;}

#sessions > button:nth-child(1) {background-color: #E96D63;}
#sessions > button:nth-child(2)  {background-color: #7FCA9F;}
#sessions > button:nth-child(3)  {background-color: #F4BA70;}

#sessions > button:nth-child(1):hover  {background-color: #F4928B;}
#sessions > button:nth-child(2):hover  {background-color: #A5E4C1;}
#sessions > button:nth-child(3):hover  {background-color: #FACD94;}

@media(max-width: 46rem)
{
    #sessions > button > span
    {
        display: block;
    }
}

@media(max-width: 28rem)
{
    #sessions > button
    {
        width: 100%;
        display: block;
    }
    
    #sessions > button:first-of-type
    {
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0px;
    }
    
    #sessions > button:last-of-type
    {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 6px;
    }
    
    #sessions > button > span
    {
        display: inline;
    }
}

/* Countdown Panel */

#countdown
{
    margin: 1rem auto;
    position: relative;
}

#countdown > time
{
    font-size: 6rem;
    text-align: center;
    font-family: forque;
    
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 1em;
    position: absolute;
}

#countdown > meter
{
    width: 100%;
    margin: auto;
    height: 6rem;
    display: block;
    
    overflow: hidden;
    border-radius: 6px;
}

/* Operation Buttons */

#operations
{
    margin: 1rem auto;
    text-align: center;
}

#operations > button
{
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    
    font: inherit;
    border-radius: 6px;
    vertical-align: middle;
    
    background-size: 2rem;
    background-position:center;
}

#operations > button:focus {outline: none;}
#operations > button:hover {cursor: pointer;}

#operations > button#stop {background-image: url("./images/stop.png");}
#operations > button#pauseplay {background-image: url("./images/play.png");}
#operations > button#pauseplay.toggled {background-image: url("./images/pause.png");}
#operations > button#remove {background-image: url("./images/previous.png");}
#operations > button#add {background-image: url("./images/next.png");}

/* Information Sections */

#information
{
    width: 100%;
    display: table;
    margin: 2rem auto;
    table-layout: fixed;
}

#information > p
{
    text-indent: 2rem;
    text-align: justify;
}

/* The Footer */

footer
{
    margin: auto;
    max-width: 28rem;
    
    font-style: italic;
    text-align: center;
}
